{% load static %}

<div class="col-sm-6 col-md-3">
    <div class="card overflow-hidden" style="min-width: 12rem">
        <div class="bg-holder bg-card"
             style="background-image:url({% static 'assets/img/icons/spot-illustrations/corner-1.png' %});">
        </div>
        <!--/.bg-holder-->

        <div class="card-body position-relative">
            <h6>Total Cancel Orders</h6>
            <div class="display-4 fs-4 mb-2 fw-normal font-sans-serif text-warning"
                 data-countup="{&quot;endValue&quot;:58.386,&quot;decimalPlaces&quot;:2,&quot;suffix&quot;:&quot;k&quot;}">
                1230
            </div>
            <a class="fw-semi-bold fs--1 text-nowrap" href="/">See all
                <svg class="svg-inline--fa fa-angle-right fa-w-8 ms-1" data-fa-transform="down-1"
                     aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img"
                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""
                     style="transform-origin: 0.25em 0.5625em;">
                    <g transform="translate(128 256)">
                        <g transform="translate(0, 32)  scale(1, 1)  rotate(0 0 0)">
                            <path fill="currentColor"
                                  d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"
                                  transform="translate(-128 -256)"></path>
                        </g>
                    </g>
                </svg>
                <!-- <span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span> Font Awesome fontawesome.com -->
            </a>
        </div>
    </div>
</div>
<div class="col-sm-6 col-md-3">
    <div class="card overflow-hidden" style="min-width: 12rem">
        <div class="bg-holder bg-card"
             style="background-image:url({% static 'assets/img/icons/spot-illustrations/corner-2.png' %});">
        </div>
        <!--/.bg-holder-->

        <div class="card-body position-relative">
            <h6>Total Pending Orders</h6>
            <div class="display-4 fs-4 mb-2 fw-normal font-sans-serif text-info"
                 data-countup="{&quot;endValue&quot;:23.434,&quot;decimalPlaces&quot;:2,&quot;suffix&quot;:&quot;k&quot;}">
                23.43k
            </div>
            <a class="fw-semi-bold fs--1 text-nowrap" href="#">See all
                <svg class="svg-inline--fa fa-angle-right fa-w-8 ms-1" data-fa-transform="down-1"
                     aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img"
                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""
                     style="transform-origin: 0.25em 0.5625em;">
                    <g transform="translate(128 256)">
                        <g transform="translate(0, 32)  scale(1, 1)  rotate(0 0 0)">
                            <path fill="currentColor"
                                  d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"
                                  transform="translate(-128 -256)"></path>
                        </g>
                    </g>
                </svg>
                <!-- <span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span> Font Awesome fontawesome.com -->
            </a>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="card overflow-hidden" style="min-width: 12rem">
        <div class="bg-holder bg-card"
             style="background-image:url({% static 'assets/img/icons/spot-illustrations/corner-3.png' %});">
        </div>
        <!--/.bg-holder-->

        <div class="card-body position-relative">
            <h6>Total Orders</h6>
            <div class="display-4 fs-4 mb-2 fw-normal font-sans-serif"
                 data-countup="{&quot;endValue&quot;:43594,&quot;prefix&quot;:&quot;$&quot;}">43,594
            </div>
            <a class="fw-semi-bold fs--1 text-nowrap" href="#">See all
                <svg class="svg-inline--fa fa-angle-right fa-w-8 ms-1" data-fa-transform="down-1"
                     aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img"
                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""
                     style="transform-origin: 0.25em 0.5625em;">
                    <g transform="translate(128 256)">
                        <g transform="translate(0, 32)  scale(1, 1)  rotate(0 0 0)">
                            <path fill="currentColor"
                                  d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"
                                  transform="translate(-128 -256)"></path>
                        </g>
                    </g>
                </svg>
                <!-- <span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span> Font Awesome fontawesome.com -->
            </a>
        </div>
    </div>
</div>

<div class="col-sm-6 col-md-3">
    <div class="card overflow-hidden" style="min-width: 12rem">
        <div class="bg-holder bg-card"
             style="background-image:url({% static 'assets/img/icons/spot-illustrations/corner-1.png' %});">
        </div>
        <!--/.bg-holder-->

        <div class="card-body position-relative">
            <h6>Total Completed Orders</h6>
            <div class="display-4 fs-4 mb-2 fw-normal font-sans-serif text-success"
                 data-countup="{&quot;endValue&quot;:58.386,&quot;decimalPlaces&quot;:2,&quot;suffix&quot;:&quot;k&quot;}">
                1000k
            </div>
            <a class="fw-semi-bold fs--1 text-nowrap" href="/">See all
                <svg class="svg-inline--fa fa-angle-right fa-w-8 ms-1" data-fa-transform="down-1"
                     aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img"
                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""
                     style="transform-origin: 0.25em 0.5625em;">
                    <g transform="translate(128 256)">
                        <g transform="translate(0, 32)  scale(1, 1)  rotate(0 0 0)">
                            <path fill="currentColor"
                                  d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"
                                  transform="translate(-128 -256)"></path>
                        </g>
                    </g>
                </svg>
                <!-- <span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span> Font Awesome fontawesome.com -->
            </a>
        </div>
    </div>
</div>
