{% load static %}

{#<nav class="navbar navbar-light navbar-vertical navbar-expand-xl">#}
<nav class="navbar navbar-light navbar-vertical navbar-expand-xl navbar-inverted">
    <script>
        var navbarStyle = localStorage.getItem("navbarStyle");
        if (navbarStyle && navbarStyle !== 'transparent') {
            document.querySelector('.navbar-vertical').classList.add(`navbar-${navbarStyle}`);
        }
    </script>
    <div class="d-flex align-items-center">
        <div class="toggle-icon-wrapper">
            <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle" data-bs-toggle="tooltip"
                    data-bs-placement="left" title="Toggle Navigation"><span class="navbar-toggle-icon"><span
                    class="toggle-line"></span></span></button>

        </div>
        <a class="navbar-brand" href="{% url 'dashboard' %}">
            <div class="d-flex align-items-center py-3"><span style="font-size: .750em;" class="font-sans-serif">Delivery Mama</span></div>
        </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
        <div class="navbar-vertical-content scrollbar">
            <ul class="navbar-nav flex-column mb-3" id="navbarVerticalNav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard' %}">
                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                class="fas fa-chart-pie"></span></span><span
                                class="nav-link-text ps-1">Dashboard</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <!-- label-->
                    <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
                        <div class="col-auto navbar-vertical-label">App
                        </div>
                        <div class="col ps-0">
                            <hr class="mb-0 navbar-vertical-divider"/>
                        </div>
                    </div>
                    <a class="nav-link" href="/">
                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                class="fas fa-tags"></span></span><span class="nav-link-text ps-1">Category</span>
                        </div>
                    </a>
                    <a class="nav-link" href="/">
                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                class="fas fa-step-backward"></span></span><span
                                class="nav-link-text ps-1">Section</span>
                        </div>
                    </a>
                    <a class="nav-link" href="/">
                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                class="fas fa-map-marker"></span></span><span class="nav-link-text ps-1">Area</span>
                        </div>
                    </a>
                    <a class="nav-link" href="/">
                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                class="fas fa-home"></span></span><span class="nav-link-text ps-1">Department</span>
                        </div>
                    </a>
                    <a class="nav-link dropdown-indicator" href="#device" role="button"
                       data-bs-toggle="collapse" aria-expanded="false"
                       aria-controls="email">
                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                class="fas fa-desktop"></span></span><span
                                class="nav-link-text ps-1">Device</span>
                        </div>
                    </a>
                    <ul class="nav collapse false" id="device">
                        <li class="nav-item"><a class="nav-link" href="/"
                                                aria-expanded="false">
                            <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Create device</span>
                            </div>
                        </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/"
                                                aria-expanded="false">
                            <div class="d-flex align-items-center"><span
                                    class="nav-link-text ps-1">List of devices</span>
                            </div>
                        </a>
                            <!-- more inner pages-->
                        </li>
                    </ul>
                    <a class="nav-link dropdown-indicator" href="#issues" role="button"
                       data-bs-toggle="collapse" aria-expanded="false"
                       aria-controls="email">
                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                class="fas fa-eraser"></span></span><span
                                class="nav-link-text ps-1">Issues</span>
                        </div>
                    </a>
                    <ul class="nav collapse false" id="issues">
                        <li class="nav-item"><a class="nav-link" href="/"
                                                aria-expanded="false">
                            <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Create Issue</span>
                            </div>
                        </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/"
                                                aria-expanded="false">
                            <div class="d-flex align-items-center"><span
                                    class="nav-link-text ps-1">List of Issues</span>
                            </div>
                        </a>
                            <!-- more inner pages-->
                        </li>
                    </ul>
                    <a class="nav-link dropdown-indicator" href="#history" role="button"
                       data-bs-toggle="collapse" aria-expanded="false"
                       aria-controls="history">
                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                class="fas fa-history"></span></span><span
                                class="nav-link-text ps-1">Device History</span>
                        </div>
                    </a>
                    <ul class="nav collapse false" id="history">
                        <li class="nav-item"><a class="nav-link" href="/"
                                                aria-expanded="false">
                            <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Add History</span>
                            </div>
                        </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/"
                                                aria-expanded="false">
                            <div class="d-flex align-items-center"><span
                                    class="nav-link-text ps-1">List of History</span>
                            </div>
                        </a>
                            <!-- more inner pages-->
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
